**/target
**/.DS_Store
**/*.svg
**/*.json
!hint_accountant/whitelists/*.json
!cairo_programs/manually_compiled/*.json
**/*.casm
**/*.sierra
**/*.trace
**/*.memory
**/*.air_public_input
**/*.swp
bench/results
.python-version
cairo-vm-env/*
cairo-vm-pypy-env/*
/cairo1/
/cairo2/
/cairo-lang/
*.tar
cairo1-run/corelib/
cairo-vm-cli/air_input.pub
ensure-no_std/Cargo.lock

!vm/src/tests/cairo_pie_test_output.json

# JetBrains IDE files
.idea
