**/target
**/.DS_Store
**/*.svg
**/*.json
!hint_accountant/whitelists/*.json
!cairo_programs/manually_compiled/*.json
**/*.casm
**/*.sierra
**/*.trace
**/*.memory
**/*.swp
bench/results
.python-version
cairo-vm-env/*
cairo-vm-pypy-env/*
/cairo1/
/cairo2/
*.tar

ensure-no_std/Cargo.lock
