[workspace]
members = [".", "felt", "./deps/parse-hyperlinks"]

[package]
name = "cairo-vm"
version = "0.1.1"
edition = "2021"
license = "MIT"
description = "Blazing fast Cairo interpreter"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["with_mimalloc"]
with_mimalloc = ["mimalloc"]
skip_next_instruction_hint = []
# This feature will reference every test-oriented feature.
# Note that these features are not retro-compatible with the cairo Python VM.
test_utils = ["skip_next_instruction_hint"]

[dependencies]
mimalloc = { version = "0.1.29", default-features = false, optional = true }
num-bigint = { version = "0.4", features = ["serde"] }
num-traits = "0.2"
num-integer = "0.1.45"
serde = { version = "1.0", features = ["derive"] }
serde_bytes = "0.11.1"
serde_json = { version = "1.0", features = ["arbitrary_precision"] }
hex = "0.4.3"
bincode = "1.2.1"
starknet-crypto = "0.2.0"
clap = { version = "3.2.5", features = ["derive"] }
sha3 = "0.10.1"
rand_core = "0.6.4"
lazy_static = "1.4.0"
nom = "7"
sha2 = {version="0.10.2", features=["compress"]}
thiserror = "1.0.32"
generic-array = "0.14.6"
keccak = "0.1.2"
# This crate has only one function `take_until_unbalanced` that is
# very useful for our parsing purposes:
# https://stackoverflow.com/questions/70630556/parse-allowing-nested-parentheses-in-nom
# There is a proposal for extending nom::delimited to use this function:
# https://github.com/Geal/nom/issues/1253
parse-hyperlinks = { path = "./deps/parse-hyperlinks", version = "0.23.4" }
felt = { package = "cairo-felt", path = "./felt", version = "0.1.0" }

[dev-dependencies]
iai = "0.1"
proptest = "1.0.0"

[dev-dependencies.rusty-hook]
version = "0.11"

[dev-dependencies.criterion]
version = "0.3"
features = ["html_reports"]

[[bench]]
path = "bench/iai_benchmark.rs"
name = "iai_benchmark"
harness = false

[[bench]]
path = "bench/criterion_benchmark.rs"
name = "criterion_benchmark"
harness = false

[[bin]]
name = "cairo-rs-run"
path = "src/main.rs"
bench = false
doc = false

[profile.release]
lto = "fat"
