[package]
name = "cleopatra_cairo"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
num-bigint = "0.4"
num-traits = "0.2"
num-integer = "0.1.45"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
hex = "0.4.3" 
starknet-crypto = "0.1.0"

[dev-dependencies.rusty-hook]
version = "0.11"

[dev-dependencies.criterion]
version = "0.3"

[[bench]]
name = "cairo_run_benchmark"
harness = false

[[bin]]
name = "cleopatra-run"
path = "src/main.rs"
doc = false
