[package]
name = "felt"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
num-integer = "*"
num-bigint = { version = "0.4", features = ["serde"] }
num-traits = "*"
lazy_static = "*"
serde = { version = "1.0", features = ["derive"] }
rug = { version = "1.18", features = ["integer", "serde", "num-traits", "num-integer"], optional = true, default-features = false }

[features]
rug-felt = ["rug"]
bigint-felt = []
