name: benchmark

on:
  push:
    branches: [ main, starkware-development ]

permissions:
  # deployments permission to deploy GitHub pages website
  deployments: write
  # contents permission to update benchmark contents in gh-pages branch
  contents: write

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Install Rust
      uses: dtolnay/rust-toolchain@1.89.0
      with:
          components: rustfmt, clippy
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
    - name: Install python deps
      run: |
          make python-deps
          . cairo-vm-env/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV
    - name: Run benchmark
      run: make benchmark-action
    - name: Store benchmark result
      uses: benchmark-action/github-action-benchmark@v1
      with:
        tool: 'cargo'
        output-file-path: output.txt
        benchmark-data-dir-path: "."
        # Access token to deploy GitHub Pages branch
        github-token: ${{ secrets.GITHUB_TOKEN }}
        # Push and deploy GitHub pages branch automatically
        auto-push: true
        alert-threshold: '130%'
        comment-on-alert: true
        alert-comment-cc-users: '@unbalancedparentheses'
    - name: Clean benches
      run: make clean
