name: "Pull Request Workflow"
on:
  merge_group:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, labeled, unlabeled]

jobs:
  # Enforces the update of a changelog file on every pull request 
  # We only want this for user-visible changes, so we add a few labels
  # for which the check is skipped
  changelog:
    runs-on: ubuntu-latest
    steps:
    - uses: dangoslen/changelog-enforcer@v3
      with:
        skipLabels: pipelines,coverage
