name: iai Benchmark

on:
  push:
    branches: [ main, starkware-development ]

jobs:
  cache-iai-results:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Install Rust
      uses: dtolnay/rust-toolchain@1.89.0
    - name: Set up cargo cache
      uses: Swatinem/rust-cache@v2
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        enable-cache: true
    - name: Install python deps
      run: |
          make python-deps
          . cairo-vm-env/bin/activate
          echo PATH=$PATH >> $GITHUB_ENV
    - name: Install test dependencies
      run: |
        sudo apt update
        sudo apt install -y valgrind
        cargo install --version 0.3.1 iai-callgrind-runner

    - name: Run iai benchmarks
      run: make iai-benchmark-action

    - name: Save cache for ${{ github.sha }}
      uses: actions/cache/save@v3
      with:
        path: |
          */target/iai/iai_benchmark/
        key: ${{ runner.os }}-iai-benchmark-cache-${{ github.sha }}
