name: iai benchmarks

on:
  push:
    branches: [ main ]

jobs:
  cache-iai-results:
    runs-on: ubuntu-22.04
    steps:
    - name: Install Rust
      uses: dtolnay/rust-toolchain@1.69.0
    - name: Python3 Build
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install test dependencies
      run: |
        pip install -r requirements.txt
        sudo apt update
        sudo apt install -y valgrind
        cargo install --version 0.3.1 iai-callgrind-runner
    # NB: this should never result in a hit, but rather just populate for PRs
    - name: Initialize IAI cache for ${{ github.sha }}
      uses: actions/cache@v3
      id: cache-iai-results
      with:
        path: |
          target/iai/
          !target/iai/**.old
        key: ${{ runner.os }}-iai-benchmark-cache-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-iai-benchmark-cache-
    - name: Run iai benchmarks
      if: ${{ steps.cache-iai-results.outputs.cache-hit != 'true' }}
      run: make iai-benchmark-action
